# =========================================
# Build klasorleri
# =========================================
build/
dist/
release/

# =========================================
# PyInstaller
# =========================================
*.spec

# =========================================
# Python cache dosyalari
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# Virtual environment
# =========================================
venv/
.env/

# =========================================
# VSCode ayarlari
# =========================================
.vscode/

# =========================================
# macOS sistem dosyalari
# =========================================
.DS_Store

# =========================================
# Windows thumbnail/cache
# =========================================
Thumbs.db
desktop.ini

# =========================================
# Geçici log dosyalari
# =========================================
*.log

# =========================================
# Opsiyonel eski surumler
# =========================================
eski_surumler/